<div class="col-md-12 mt-2">
  <div class="border border-1 border-warning">
    <div class="m-3 text-center">
      <h1>Home Construction Management</h1>
      <p>The perfect tool to manage your construction and renovation projects</p>
      <% if !user_signed_in? %>
        <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary btn-lg text-center' %>
      <% end %>
      <% if user_signed_in? && current_user.role == 'super_admin' %>
        <%= link_to 'Create Account', new_account_path, class: 'btn btn-primary btn-lg text-center'%>
      <% end %>
    </div>
  </div>
</div>

