<div class="col-md-12 mt-2">
  <div class="border border-1 border-warning">
    <div class="m-3">
      <h1 class="text-center">Home Construction Management</h1>
      <p class="text-center">The perfect tool to manage your construction and renovation projects</p>
      <%= link_to 'Create Account', new_account_path, class: 'btn btn-primary btn-lg'%>
    </div>
  </div>
</div>

